h1 {
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
}
img {
  max-width: 100%;
}
.cover_photo {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  justify-content: center;
  top: 10%;
  left: 35%;
  padding: 5%;
  border-radius: 20%;
}
button {
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  padding: 2%;
  font-size: 25px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}
.music_videos:hover {
  background-color: azure;
  border-radius: 20%;
}
.lyrics:hover {
  background-color: azure;
  border-radius: 20%;
}
.vinyl_collection:hover {
  background-color: azure;
  border-radius: 20%;
}
.music_videos {
  position: absolute;
  top: 50%;
  left: 17%;
}
.lyrics {
  position: absolute;
  top: 50%;
  left: 47%;
}
.vinyl_collection {
  position: absolute;
  top: 50%;
  left: 77%;
}
